<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to App</title>
</head>
<body>
    <h1>Registration Form </h1>
    <form action="/patient/creation" method="POST">
        <!-- name -->
        <label for="name">Name : </label>
        <input type="text" name="name" id="name" />
        <br />
        <!-- DOB -->
        <label for="DOB">Date of Birth :</label>
        <input type="date" name="DateOfBirth" id="dob" />
        <br/>
        <!-- Gender -->
        <label for="gender">Gender :</label>
        <select name="Gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
        </select>
        <br/>
        <!-- Place of Birth -->
        <label for="pob">Place of Birth : </label>
        <input type="text" name="PlaceOfBirth" id="pob" />
        <br />
        <!-- Blood Group -->
        <label for="bloodGroup">Blood Group :</label>
        <select name="BloodGroup" id="bloodGroup">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B-</option>
        <option value="O+">O+</option>
        <option value="O-">O-</option>
        <option value="AB+">AB+</option>
        <option value="AB-">AB-</option>
        </select>
        <br/>
        <!-- Height -->
        <label fo="height">Height :</label>
        <input type="number" name="Height" id="height" oninput="validity.valid||(value='')"/>
        <br/>
        <!-- Weight -->
        <label fo="Weight">Weight :</label>
        <input type="number" name="Weight" id="weight" oninput="validity.valid||(value='')"/>
        <br/>

        <br/>
        <!-- button -->
        <button type="submit" id="save">Save</button>
        <button type="reset" id="cancel">Cancel</button>
    </form>
   
   
</body>
</html>